.container {
  width: 80%;
  max-width: 800px;
  margin: 6.5% auto;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-top: 0;
  color: #FFFFFF;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  color: #000000;
}

.input-group {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #F2F2F2;
  color: #000000;
  resize: none;
}

button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #FFFFFF;
  color: #000000;
}

#message {
  height: 100px;
  resize: none;
}
