* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  color: #000;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

#header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-visual {
  margin-bottom: 120px;
}

#main-visual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

#news {
  margin-bottom: 120px;
}

.wrapper {
  width: 100%;
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}
